.multiplicationChart {
	position: absolute;
	top: 0px;
	left: 0px;

	background-color: #F0F0F0;
	width: 1280px;
	height: 1372px;
}
.chart_title {
	position: absolute;
	top: 210px;
	left: 120px;

	width: 280px;
	height: 78px;
	text-align: center;
	font: Normal 56px/84px PingFang TC;
	letter-spacing: 0;
	color: #2EB738;
	opacity: 1;
}
.chart_title_english {
	position: absolute;
	top: 288px;
	left: 121px;

	width: 284px;
	height: 28px;
	text-align: center;
	font: Normal 24px/36px Helvetica Neue;
	letter-spacing: 0;
	color: #2EB738;
	opacity: 1;
}
.point {
	width: 14px;
	height: 28px;
	text-align: left;
	font: Normal 24px/24px Helvetica Neue;
	letter-spacing: 0;
	color: #2EB738;
	opacity: 1;
}


.point.p0 {
	position: absolute;
	top: 80px;
	left: 85px;
}

.point.p1 {
	position: absolute;
	top: 80px;
	left: 421px;
}

.point.p2 {
	position: absolute;
	top: 418px;
	left: 85px;
}

.point.p3 {
	position: absolute;
	top: 418px;
	left: 421px;
}

.line{
	width: 280px;
	height: 0px;
	border: 1px solid #2EB738;
	opacity: 1;
}


.line.n1{
	position: absolute;
	top: 97px;
	left: 120px;
}

.line.n2{
	position: absolute;
	top: 435px;
	left: 120px;
}

.card {
	
	background-color: #FFFFFF;
	width: 350px;
	height: 366px;
	border-radius: 100px 0px 30px 0px;

}

#card_Id_2 {
	position: absolute;
	top: 80px;
	left: 465px;
}

#card_Id_3 {
	position: absolute;
	top: 80px;
	left: 845px;
}



#card_Id_4 {
	position: absolute;
	top: 486px;
	left: 85px;
}



#card_Id_5 {
	position: absolute;
	top: 486px;
	left: 465px;
}



#card_Id_6 {
	position: absolute;
	top: 486px;
	left: 845px;
}



#card_Id_7 {
	position: absolute;
	top: 892px;
	left: 85px;
}



#card_Id_8 {
	position: absolute;
	top: 892px;
	left: 465px;
}



#card_Id_9 {
	position: absolute;
	top: 892px;
	left: 845px;
}
.card .card_title {
	position: absolute;
	top: 34px;
	left: 61px;

	width: 71px;
	height: 153px;
	text-align: left;
	font: Bold 128px/128px Helvetica Neue;
	letter-spacing: 0;
	color: #2EB738;
	text-shadow: 4px 3px 0px #F0F0F0;
	opacity: 1;
}

.card .item {
	width: 118px;
	height: 33px;
	text-align: left;
	font: Normal 24px/24px Helvetica Neue;
	letter-spacing: 0;
	color: #2EB738;
	opacity: 1;
}

.card .item_1 {
	position: absolute;
	top: 187px;
	left: 40px;
}

.card .item_2 {
	position: absolute;
	top: 228px;
	left: 40px;
}
.card .item_3 {
	position: absolute;
	top: 269px;
	left: 40px;
}
.card .item_4 {
	position: absolute;
	top: 64px;
	left: 192px;
}
.card .item_5 {
	position: absolute;
	top: 105px;
	left: 192px;
}
.card .item_6 {
	position: absolute;
	top: 146px;
	left: 192px;
}
.card .item_7 {
	position: absolute;
	top: 187px;
	left: 192px;
}
.card .item_8 {
	position: absolute;
	top: 228px;
	left: 192px;
}
.card .item_9 {
	position: absolute;
	top: 269px;
	left: 192px;
}


footer {
	position: absolute;
	top: 1338px;
	left: 0px;
	width: 1280px;
	height: 34px;
	background: #2EB738 0% 0% no-repeat padding-box;
	opacity: 1;
}

span {
	position: absolute;
	top: 8px;
	left: 843px;
	width: 352px;
	height: 18px;
	text-align: left;
	font: Regular 16px/24px Helvetica Neue;
	letter-spacing: 0;
	color: #F0F0F0;
	opacity: 1;
}